name: Setup VPN with Ansible

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    name: Deploy Ansible Playbook
    # runs-on: self-hosted
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
          
      - name: Install Ansible
        run: |
          sudo apt install -y ansible

      - name: Install Ansible
        run: pip install ansible-core

      - name: Create SSH private key file
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - name: Run Ansible Playbook
        env:
          ANSIBLE_USER: ${{ secrets.ANSIBLE_USER }}
          ANSIBLE_PASSWORD: ${{ secrets.ANSIBLE_PASSWORD }}
          ANSIBLE_BECOME_PASSWORD: ${{ secrets.ANSIBLE_PASSWORD }}
          ANSIBLE_HOST_KEY_CHECKING: False
        run: |
          ansible-galaxy role install -r ansible/roles/requirements.yml
          ansible-playbook -i ansible/inventory/hosts.yml ansible/playbooks/play_setup_vpn.yml --private-key private_key.pem -u ${{ secrets.ANSIBLE_USER }}