name: Setup VPN with Ansible

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    name: Deploy Ansible Playbook
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # - name: Set up SSH
      #   run: |
      #     echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key.pem
      #     chmod 600 private_key.pem
          
      - name: Install Ansible
        run: |
          sudo apt install -y ansible

      - name: Run Ansible Playbook
        env:
          ANSIBLE_USER: ${{ secrets.ANSIBLE_USER }}
          ANSIBLE_HOST_KEY_CHECKING: False
        run: |
          ansible-playbook -i inventory/hosts.ini playbooks/setup_vpn.yml --private-key private_key.pem -u ${{ secrets.ANSIBLE_USER }}